.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  align-items: center;

  li {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
    border: 1px solid #000;
  }
  img {
    width: 200px;
    height: auto;
  }

  .overview{
    height: 70px;
    overflow-y: scroll;
  }
}
